@import "modules/_variables.scss";
@import "partials/header";
@import "partials/main";
@import "partials/price";
@import "partials/footer";

.yeah {
  color: red;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-open;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.logo-green {
  font-weight: bold;
  color: $font-color;
}

.h2 {
  width: 350px;
  margin: 20px 0 80px 0;
  border-bottom: 8px solid $font-color;
  text-transform: uppercase;
  font: {
    weight: 600;
    size: 22px
  }
}